


Screen: {{ screenSize() }} <br />
Device: {{ deviceType() }} <br />
Orientation: {{ orientation() }} <br />

<br />

<div
  class="square"
  [class]="{
    mobile: isMobile(),
    web: isDesktop(),
    tablet: isTablet()
  }"
></div>
